<h3>Overzicht</h3>

<mat-table [dataSource]="cursusinstanties">
    <ng-container matColumnDef="startdatum">
        <mat-header-cell *matHeaderCellDef> Startdatum </mat-header-cell>
        <mat-cell *matCellDef="let instantie"> {{instantie.startdatum | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duur">
        <mat-header-cell *matHeaderCellDef> Duur </mat-header-cell>
        <mat-cell *matCellDef="let instantie"> {{instantie.cursus.duur}} </mat-cell>>
    </ng-container>

    <ng-container matColumnDef="titel">
        <mat-header-cell *matHeaderCellDef> Titel </mat-header-cell>
        <mat-cell *matCellDef="let instantie"> {{instantie.cursus.titel}} </mat-cell>>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>
